<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<%- include head.ejs %>
	<title>Igor the Bot</title>
</head>
<body class="landingContainer">
    <% include navbar.ejs %>
	<div class="container">

		<div class="text-center landingBlock">
			<img src="/images/logo.png" />
            <div class="signupButtons">
			    <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
			    <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
			    <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
			    <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
            </div>        
		</div>

	</div>	
</body>
</html>